## Importing ML Libraries

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

## Read the csv

In [2]:
dataset1 = pd.read_csv('Student Mental health.csv')
dataset = pd.read_csv('Student_Mental_health.csv')

In [3]:
dataset['cgpa'] = dataset1['What is your CGPA?']

In [4]:
dataset

,"gender 0=female,1=male",Age,course,Your current year of Study,What is your Family income?,Major Incidence,Depression score,Anxiety Score,ADHD score,doctor required,cgpa
0,0,18,Engineering,year 1,15.0,0,21,4,18,0,3.00 - 3.49
1,1,21,Islamic education,year 2,14.0,0,5,16,2,0,3.00 - 3.49
2,1,19,BIT,Year 1,13.0,0,19,15,19,1,3.00 - 3.49
3,0,22,Laws,year 3,13.8,1,18,3,4,0,3.00 - 3.49
4,1,23,Mathemathics,year 4,12.4,0,4,5,3,0,3.00 - 3.49
...,...,...,...,...,...,...,...,...,...,...,...
96,0,21,BCS,year 1,12.0,0,10,4,3,0,3.50 - 4.00
97,1,18,Engineering,Year 2,13.0,0,21,5,1,0,3.00 - 3.49
98,0,19,Nursing,Year 3,13.0,1,22,2,7,0,3.50 - 4.00
99,0,23,Pendidikan Islam,year 4,7.5,0,0,5,3,0,3.50 - 4.00
100,1,20,Biomedical science,Year 2,12.0,0,16,2,4,0,3.00 - 3.49

In [5]:
dataset.drop("course", axis='columns', inplace=True)

In [6]:
dataset

,"gender 0=female,1=male",Age,Your current year of Study,What is your Family income?,Major Incidence,Depression score,Anxiety Score,ADHD score,doctor required,cgpa
0,0,18,year 1,15.0,0,21,4,18,0,3.00 - 3.49
1,1,21,year 2,14.0,0,5,16,2,0,3.00 - 3.49
2,1,19,Year 1,13.0,0,19,15,19,1,3.00 - 3.49
3,0,22,year 3,13.8,1,18,3,4,0,3.00 - 3.49
4,1,23,year 4,12.4,0,4,5,3,0,3.00 - 3.49
...,...,...,...,...,...,...,...,...,...,...
96,0,21,year 1,12.0,0,10,4,3,0,3.50 - 4.00
97,1,18,Year 2,13.0,0,21,5,1,0,3.00 - 3.49
98,0,19,Year 3,13.0,1,22,2,7,0,3.50 - 4.00
99,0,23,year 4,7.5,0,0,5,3,0,3.50 - 4.00
100,1,20,Year 2,12.0,0,16,2,4,0,3.00 - 3.49

In [9]:
dataset['Depression'] = dataset1['Do you have Depression?']
dataset['Anxiety'] = dataset1['Do you have Anxiety?']
dataset['Panic'] = dataset1['Do you have Panic attack?']

In [10]:
dataset

,"gender 0=female,1=male",Age,Your current year of Study,What is your Family income?,Major Incidence,Depression score,Anxiety Score,ADHD score,doctor required,cgpa,Depression,Anxiety,Panic
0,0,18,year 1,15.0,0,21,4,18,0,3.00 - 3.49,Yes,No,Yes
1,1,21,year 2,14.0,0,5,16,2,0,3.00 - 3.49,No,Yes,No
2,1,19,Year 1,13.0,0,19,15,19,1,3.00 - 3.49,Yes,Yes,Yes
3,0,22,year 3,13.8,1,18,3,4,0,3.00 - 3.49,Yes,No,No
4,1,23,year 4,12.4,0,4,5,3,0,3.00 - 3.49,No,No,No
...,...,...,...,...,...,...,...,...,...,...,...,...,...
96,0,21,year 1,12.0,0,10,4,3,0,3.50 - 4.00,No,Yes,No
97,1,18,Year 2,13.0,0,21,5,1,0,3.00 - 3.49,Yes,Yes,No
98,0,19,Year 3,13.0,1,22,2,7,0,3.50 - 4.00,Yes,No,Yes
99,0,23,year 4,7.5,0,0,5,3,0,3.50 - 4.00,No,No,No
100,1,20,Year 2,12.0,0,16,2,4,0,3.00 - 3.49,No,No,No

In [11]:
drop_cols = ['Depression score','Anxiety Score','ADHD score']

dataset.drop(drop_cols, axis='columns', inplace=True)

In [12]:
dataset

,"gender 0=female,1=male",Age,Your current year of Study,What is your Family income?,Major Incidence,doctor required,cgpa,Depression,Anxiety,Panic
0,0,18,year 1,15.0,0,0,3.00 - 3.49,Yes,No,Yes
1,1,21,year 2,14.0,0,0,3.00 - 3.49,No,Yes,No
2,1,19,Year 1,13.0,0,1,3.00 - 3.49,Yes,Yes,Yes
3,0,22,year 3,13.8,1,0,3.00 - 3.49,Yes,No,No
4,1,23,year 4,12.4,0,0,3.00 - 3.49,No,No,No
...,...,...,...,...,...,...,...,...,...,...
96,0,21,year 1,12.0,0,0,3.50 - 4.00,No,Yes,No
97,1,18,Year 2,13.0,0,0,3.00 - 3.49,Yes,Yes,No
98,0,19,Year 3,13.0,1,0,3.50 - 4.00,Yes,No,Yes
99,0,23,year 4,7.5,0,0,3.50 - 4.00,No,No,No
100,1,20,Year 2,12.0,0,0,3.00 - 3.49,No,No,No

In [13]:
def convert_cgpa_range_to_midpoint(cgpa_range):
    range_values = cgpa_range.split('-')
    start_value = float(range_values[0])
    end_value = float(range_values[1])
    mid_point = ((start_value + end_value)/2)*2.5
    return mid_point

dataset['cgpa'] = dataset['cgpa'].apply(convert_cgpa_range_to_midpoint)

In [14]:
dataset

,"gender 0=female,1=male",Age,Your current year of Study,What is your Family income?,Major Incidence,doctor required,cgpa,Depression,Anxiety,Panic
0,0,18,year 1,15.0,0,0,8.1125,Yes,No,Yes
1,1,21,year 2,14.0,0,0,8.1125,No,Yes,No
2,1,19,Year 1,13.0,0,1,8.1125,Yes,Yes,Yes
3,0,22,year 3,13.8,1,0,8.1125,Yes,No,No
4,1,23,year 4,12.4,0,0,8.1125,No,No,No
...,...,...,...,...,...,...,...,...,...,...
96,0,21,year 1,12.0,0,0,9.3750,No,Yes,No
97,1,18,Year 2,13.0,0,0,8.1125,Yes,Yes,No
98,0,19,Year 3,13.0,1,0,9.3750,Yes,No,Yes
99,0,23,year 4,7.5,0,0,9.3750,No,No,No
100,1,20,Year 2,12.0,0,0,8.1125,No,No,No

In [15]:
df = dataset
df

,"gender 0=female,1=male",Age,Your current year of Study,What is your Family income?,Major Incidence,doctor required,cgpa,Depression,Anxiety,Panic
0,0,18,year 1,15.0,0,0,8.1125,Yes,No,Yes
1,1,21,year 2,14.0,0,0,8.1125,No,Yes,No
2,1,19,Year 1,13.0,0,1,8.1125,Yes,Yes,Yes
3,0,22,year 3,13.8,1,0,8.1125,Yes,No,No
4,1,23,year 4,12.4,0,0,8.1125,No,No,No
...,...,...,...,...,...,...,...,...,...,...
96,0,21,year 1,12.0,0,0,9.3750,No,Yes,No
97,1,18,Year 2,13.0,0,0,8.1125,Yes,Yes,No
98,0,19,Year 3,13.0,1,0,9.3750,Yes,No,Yes
99,0,23,year 4,7.5,0,0,9.3750,No,No,No
100,1,20,Year 2,12.0,0,0,8.1125,No,No,No

In [16]:
df

,"gender 0=female,1=male",Age,Your current year of Study,What is your Family income?,Major Incidence,doctor required,cgpa,Depression,Anxiety,Panic
0,0,18,year 1,15.0,0,0,8.1125,Yes,No,Yes
1,1,21,year 2,14.0,0,0,8.1125,No,Yes,No
2,1,19,Year 1,13.0,0,1,8.1125,Yes,Yes,Yes
3,0,22,year 3,13.8,1,0,8.1125,Yes,No,No
4,1,23,year 4,12.4,0,0,8.1125,No,No,No
...,...,...,...,...,...,...,...,...,...,...
96,0,21,year 1,12.0,0,0,9.3750,No,Yes,No
97,1,18,Year 2,13.0,0,0,8.1125,Yes,Yes,No
98,0,19,Year 3,13.0,1,0,9.3750,Yes,No,Yes
99,0,23,year 4,7.5,0,0,9.3750,No,No,No
100,1,20,Year 2,12.0,0,0,8.1125,No,No,No

In [17]:
def changeyear(year):
    year_val = int(year[-1])
    return year_val

df['Your current year of Study'] = df['Your current year of Study'].apply(changeyear)

In [18]:
df

,"gender 0=female,1=male",Age,Your current year of Study,What is your Family income?,Major Incidence,doctor required,cgpa,Depression,Anxiety,Panic
0,0,18,1,15.0,0,0,8.1125,Yes,No,Yes
1,1,21,2,14.0,0,0,8.1125,No,Yes,No
2,1,19,1,13.0,0,1,8.1125,Yes,Yes,Yes
3,0,22,3,13.8,1,0,8.1125,Yes,No,No
4,1,23,4,12.4,0,0,8.1125,No,No,No
...,...,...,...,...,...,...,...,...,...,...
96,0,21,1,12.0,0,0,9.3750,No,Yes,No
97,1,18,2,13.0,0,0,8.1125,Yes,Yes,No
98,0,19,3,13.0,1,0,9.3750,Yes,No,Yes
99,0,23,4,7.5,0,0,9.3750,No,No,No
100,1,20,2,12.0,0,0,8.1125,No,No,No

In [19]:
def yesno(val):
    if val == "Yes":
        return 1
    elif val == "No":
        return 0

df['Depression'] = df['Depression'].apply(yesno)
df['Anxiety'] = df['Anxiety'].apply(yesno)
df['Panic'] = df['Panic'].apply(yesno)

In [20]:
def salarychange(salary):
    changed_salary = pow(salary,1.2)
    changed_salary = pow(changed_salary,1.4)
    return changed_salary

df['What is your Family income?'] = df['What is your Family income?'].apply(salarychange)

df

,"gender 0=female,1=male",Age,Your current year of Study,What is your Family income?,Major Incidence,doctor required,cgpa,Depression,Anxiety,Panic
0,0,18,1,94.587406,0,0,8.1125,1,0,1
1,1,21,2,84.235489,0,0,8.1125,0,1,0
2,1,19,1,74.374632,0,1,8.1125,1,1,1
3,0,22,3,82.223671,1,0,8.1125,1,0,0
4,1,23,4,68.698686,0,0,8.1125,0,0,0
...,...,...,...,...,...,...,...,...,...,...
96,0,21,1,65.016636,0,0,9.3750,0,1,0
97,1,18,2,74.374632,0,0,8.1125,1,1,0
98,0,19,3,74.374632,1,0,9.3750,1,0,1
99,0,23,4,29.519087,0,0,9.3750,0,0,0
100,1,20,2,65.016636,0,0,8.1125,0,0,0

In [21]:
def changesalary(salary):
    changed_salary = salary/80
    changed_salary = changed_salary*100000
    return changed_salary

df['What is your Family income?'] = df['What is your Family income?'].apply(changesalary)

df

,"gender 0=female,1=male",Age,Your current year of Study,What is your Family income?,Major Incidence,doctor required,cgpa,Depression,Anxiety,Panic
0,0,18,1,118234.257455,0,0,8.1125,1,0,1
1,1,21,2,105294.360907,0,0,8.1125,0,1,0
2,1,19,1,92968.290426,0,1,8.1125,1,1,1
3,0,22,3,102779.589352,1,0,8.1125,1,0,0
4,1,23,4,85873.357636,0,0,8.1125,0,0,0
...,...,...,...,...,...,...,...,...,...,...
96,0,21,1,81270.794678,0,0,9.3750,0,1,0
97,1,18,2,92968.290426,0,0,8.1125,1,1,0
98,0,19,3,92968.290426,1,0,9.3750,1,0,1
99,0,23,4,36898.858877,0,0,9.3750,0,0,0
100,1,20,2,81270.794678,0,0,8.1125,0,0,0

## Select Relevant Columns and Form Dataframe

In [22]:
depression_score = df['Depression']
depression_score

0      1
1      0
2      1
3      1
4      0
      ..
96     0
97     1
98     1
99     0
100    0
Name: Depression, Length: 101, dtype: int64

In [23]:
anxiety_score = df['Anxiety']
anxiety_score

0      0
1      1
2      1
3      0
4      0
      ..
96     1
97     1
98     0
99     0
100    0
Name: Anxiety, Length: 101, dtype: int64

In [24]:
adhd_score = df['Panic']
adhd_score

0      1
1      0
2      1
3      0
4      0
      ..
96     0
97     0
98     1
99     0
100    0
Name: Panic, Length: 101, dtype: int64

In [25]:
doctor_recommendment = df['doctor required']
doctor_recommendment

0      0
1      0
2      1
3      0
4      0
      ..
96     0
97     0
98     0
99     0
100    0
Name: doctor required, Length: 101, dtype: int64

In [26]:
colums_to_drop = ['Depression','Anxiety','Panic','doctor required']

In [27]:
df.drop(columns=colums_to_drop, axis='columns', inplace=True)

In [28]:
df

,"gender 0=female,1=male",Age,Your current year of Study,What is your Family income?,Major Incidence,cgpa
0,0,18,1,118234.257455,0,8.1125
1,1,21,2,105294.360907,0,8.1125
2,1,19,1,92968.290426,0,8.1125
3,0,22,3,102779.589352,1,8.1125
4,1,23,4,85873.357636,0,8.1125
...,...,...,...,...,...,...
96,0,21,1,81270.794678,0,9.3750
97,1,18,2,92968.290426,0,8.1125
98,0,19,3,92968.290426,1,9.3750
99,0,23,4,36898.858877,0,9.3750
100,1,20,2,81270.794678,0,8.1125

## Feature Scaling

In [29]:
dataframe = df

In [30]:
from sklearn.preprocessing import StandardScaler
scaler = StandardScaler()
df = scaler.fit_transform(df)

In [31]:
import sklearn

In [32]:
from sklearn.model_selection import train_test_split

In [33]:
df_train1,df_test1,depression_score_train,depression_score_test =  train_test_split(df, depression_score, test_size=0.2, random_state=1)

In [34]:
from sklearn.ensemble import RandomForestClassifier
from sklearn.ensemble import VotingClassifier
from sklearn.svm import SVC
from sklearn.linear_model import LogisticRegression

## Model to test Depression

In [35]:
model1 = RandomForestClassifier()
model3 = RandomForestClassifier()
model2 = LogisticRegression()

In [36]:
voting_classifier_1 = VotingClassifier(estimators=[
    ('rf', model1),
    ('lr', model2),
    ('rf2', model3)
], voting='soft')

In [37]:
voting_classifier_1.fit(df_train1, depression_score_train)

VotingClassifier(estimators=[('rf', RandomForestClassifier()),
                             ('lr', LogisticRegression()),
                             ('rf2', RandomForestClassifier())],
                 voting='soft')

In [38]:
voting_classifier_1.score(df_test1, depression_score_test)

0.7142857142857143

## Model to test Anxiety

In [39]:
df_train2,df_test2,anxiety_score_train,anxiety_score_test =  train_test_split(df, depression_score, test_size=0.2, random_state=1)

In [40]:
voting_classifier_2 = VotingClassifier(estimators=[
    ('rf', model1),
    ('lr', model2),
    ('rf3', model3)
], voting='soft')

In [41]:
voting_classifier_2.fit(df_train2, anxiety_score_train)

VotingClassifier(estimators=[('rf', RandomForestClassifier()),
                             ('lr', LogisticRegression()),
                             ('rf3', RandomForestClassifier())],
                 voting='soft')

In [42]:
voting_classifier_2.score(df_test2, anxiety_score_test)

0.7142857142857143

In [43]:
voting_classifier_2.predict_proba([[0,18,0,15.0,0,8.1125]])

array([[0.96155732, 0.03844268]])

## Model to test ADHD

In [44]:
df_train3, df_test3, adhd_score_train, adhd_score_test = train_test_split(df, adhd_score, test_size=0.2, random_state=1)

In [45]:
model7 = LogisticRegression()

In [46]:
model7.fit(df_train3, adhd_score_train)

LogisticRegression()

In [47]:
model7.score(df_test3, adhd_score_test)

0.8095238095238095

## Model to test requirement to check doctor

In [48]:
model8 = LogisticRegression()

In [49]:
df_train4, df_test4, doctor_recommendment_train, doctor_recommendment_test = train_test_split(df, doctor_recommendment)

In [50]:
model8.fit(df_train4, doctor_recommendment_train)

LogisticRegression()

In [51]:
model8.score(df_test4, doctor_recommendment_test)

0.8846153846153846

In [52]:
model8.predict_proba([[0,18,0,15.0,0,8.1125]])

array([[0.00790437, 0.99209563]])

In [53]:
model9 = RandomForestClassifier()

In [54]:
model9.fit(df_train4, doctor_recommendment_train)

RandomForestClassifier()

In [55]:
model9.score(df_test4, doctor_recommendment_test)

0.9230769230769231

In [56]:
voting_classifier_4 = VotingClassifier(estimators=[
        ('rf', model8),
        ('lr', model9)
    ], voting='soft'
)

In [57]:
voting_classifier_4.fit(df_train4, doctor_recommendment_train)

VotingClassifier(estimators=[('rf', LogisticRegression()),
                             ('lr', RandomForestClassifier())],
                 voting='soft')

In [58]:
voting_classifier_4.score(df_test4, doctor_recommendment_test)

0.9230769230769231

In [59]:
voting_classifier_4.predict_proba(scaler.transform([[1,23,4,12.4,0,8.1125]]))

/Users/aayushkaayushumar/anaconda3/lib/python3.11/site-packages/sklearn/base.py:464: UserWarning: X does not have valid feature names, but StandardScaler was fitted with feature names
  warnings.warn(

array([[0.98905406, 0.01094594]])

In [60]:
voting_classifier_4.predict_proba(scaler.transform([[0,18,0,15.0,0,8.1125]]))

/Users/aayushkaayushumar/anaconda3/lib/python3.11/site-packages/sklearn/base.py:464: UserWarning: X does not have valid feature names, but StandardScaler was fitted with feature names
  warnings.warn(

array([[0.83095879, 0.16904121]])

In [61]:
voting_classifier_4.predict_proba(scaler.transform([[1,19,1,13.0,0,8.1125]]))

/Users/aayushkaayushumar/anaconda3/lib/python3.11/site-packages/sklearn/base.py:464: UserWarning: X does not have valid feature names, but StandardScaler was fitted with feature names
  warnings.warn(

array([[0.82028595, 0.17971405]])

In [62]:
import pickle

In [63]:
with open('scaler.pkl','wb') as f:
    pickle.dump(scaler,f)

In [64]:
with open('depression.pkl','wb') as f:
    pickle.dump(voting_classifier_1,f)

In [65]:
with open('anxiety.pkl','wb') as f:
    pickle.dump(voting_classifier_2,f)

In [66]:
with open('adhd.pkl','wb') as f:
    pickle.dump(model7,f)

In [67]:
with open('doctor.pkl','wb') as f:
    pickle.dump(voting_classifier_4,f)